{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-5">
    <h1 class="mb-4">Liste des Produits</h1>
    <div class="row">
        {% for produit in produits %}
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ produit.name }}</h5>
                        <p class="card-text">Prix : {{ produit.price }} €</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
